h1{
    text-align: center;
    margin-left: 400px;
}

#model{
    margin-top: 60px;
    margin-left: 750px;
}

.section{
    height: 100%;
    width: 400px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    border-right: solid black 5px;
}

.menu{
    text-align: center;
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 20px;
}

.sub-title{
    font-size: 20px;
    font-weight: 700;
}

.position{
    margin: 10px 10px 20px 10px
}

.colorSelector , .uploadBtn{
    display: flex;
    justify-content: center;
    align-items: center;
}


#done{
    text-align: center;
}

#done button{
    margin: 20px;
    font-size: 25px;
    font-weight: bolder;
    border-radius: 20px;
    border: solid 5px black;
}

.title{
    text-align: center;
    color:yellow;
    font-family: 'Courgette', cursive;  
    font-size: 60px;
    font-weight: bolder;
}

a:hover{
    text-decoration: none;   
}


body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
    color: white;
    background: url(../image/plain-black-09.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}