body {
  font-family: Arial, Helvetica, sans-serif;
  background-size: cover;
  height: 100%;
}

/* Title */
.title{
  text-align: center;
  color:yellow;
  font-family: 'Courgette', cursive;  
  font-size: 60px;
  font-weight: bolder;
}

a:hover{
  text-decoration: none;   
}
/* Title */

/* Menu Bar*/
.bg-light{
  background-color: grey !important;
  border-radius: 10px;
}

.nav-link{
  color: white !important;
}

/* Menu Bar*/

h3{
  color: white;
}



#header {
  text-align: center;
  padding: 20px;
}

.sub-title{
  /* background-color: grey !important; */
  border-radius: 20px;
  font-size: 30px ;
  color: white  ;
  /* text-align: center; */
}

.topnav {
  background-color: #333;
  overflow: hidden;
}
  
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}


@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
  
  
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
}






#buy_flow{
  display: flex;
  margin: 30px;
  justify-content: center;
  flex-wrap: wrap;
  background-color: grey;
  align-items: center;
  border-radius: 30px;
}

#buy_flow > div{
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

#step_1, #step_2{
  margin-top: 50px;
  margin-bottom: 30px;
}

.order-bg{
  background-color: grey;
}

.order_detail{
  color: white;
}

.detail-titile{
  display: flex;
  align-items: center;
  /* justify-content: center; */
  font-size: 20px;
  width: 100px;
  height: 40px;
}
