body {
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    height: 100%;
    color: white;
  }

/* Title */
.title{
    text-align: center;
    color:yellow;
    font-family: 'Courgette', cursive;  
    font-size: 60px;
    font-weight: bolder;
  }
  
  a:hover{
    text-decoration: none;   
  }
  /* Title */
  
  /* Menu Bar*/
  .bg-light{
    background-color: grey !important;
    border-radius: 10px;
  }
  
  .nav-link{
    color: white !important;
  }
  
  #login-btn,#sign-up-btn{
    color: white;
    border: white 3px solid;
    border-radius: 30px;
    margin-left: 10px;
  }
  
  #login-btn:hover ,#sign-up-btn:hover{
    background-color: white;
    color: grey;
  }
  /* Menu Bar*/

img{
    width: 300px;
    height: 300px;
}

.item{
    border-bottom: solid 2px grey;
    padding: 20px;
}

#name{
    font-size: 30px;
}

.description{
    padding: 40px;
}

.link{
    display: flex;
    align-items: center;
}

.link a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 40px;
    border-radius: 30px;
    color: grey;
    border:grey 3px solid;
}

.link a:hover{
    background-color: grey;
    color: white;
}