body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-repeat: no-repeat; */
    background-size: cover;
    height: 100%;
    background-color: black;
    background: url(../image/plain-black-09.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    margin-bottom: 20px;
}

* {
    box-sizing: border-box;
}

/* style the container */
.login-container {
    position: relative;
    /* border-radius: 4px 4px 0px 0px; */
    border-radius: 4px;
    background-color: #f2f2f2;
    padding: 20px 0 30px 0;
}

/* style inputs and link buttons */
.modal input,
.my-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
    /* remove underline from anchors */
}
.my-btn {
text-align: center;
}

input:hover,
.my-btn:hover {
    opacity: 1;
}

/* add appropriate colors to fb, twitter and google buttons */

.google {
    background-color: #dd4b39;
    color: white;
}

/* style the submit button */
.modal input[type=submit] {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
}

.modal input[type=submit]:hover {
    background-color: #45a049;
}

/* Two-column layout */
.modal .col {
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
}

/* bottom container */
.bottom-container {
    max-width: 600px;
    text-align: center;
    background-color: #666;
    border-radius: 0px 0px 4px 4px;
}

/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
    .col {
        width: 100%;
        margin-top: 0;
    }

    /* hide the vertical line */
    .vl {
        display: none;
    }

    /* show the hidden text on small screens */
    .hide-md-lg {
        display: block;
        text-align: center;
    }
}


.sign-up-message {
    text-align: center;
}
.login-container {
    justify-content: center
}

.warning {
    color: red;
}

/* Title */
.title{
    text-align: center;
    color:yellow;
    font-family: 'Courgette', cursive;  
    font-size: 60px;
    font-weight: bolder;
}

a:hover{
    text-decoration: none;   
}
/* Title */

/* Menu Bar*/
.bg-light{
    background-color: grey !important;
    border-radius: 10px;
}

.nav-link{
    color: white !important;
}

/* #login-btn,#sign-up-btn,#username-btn,#logout-btn{
    color: white;
    border: white 3px solid;
    border-radius: 15px;
}

#login-btn:hover ,#sign-up-btn:hover,#username-btn:hover,#logout-btn:hover{
    background-color: white;
    color: grey;
} */

.home-btn{
    color: white;
    border: white 3px solid;
    border-radius: 15px;
    margin: 5px;
}

.home-btn:hover,.home-btn:not(:disabled):not(.disabled):active{
    background-color: white;
    color: grey;
    border-color:white
}
/* Menu Bar*/

#slideshow{
    margin: 40px;
}

.carousel-item img{
    width: 500px;
    height: 600px;
}

/* #poster{
    width: 900px;
    height: 600px;
    margin: 20px 0px 20px 70px;
} */

@media only screen and (max-width:1200px){
    #poster{
     width: 60vw;
     height: 60vw;
     margin: 20px 0px 20px 25px;
    }
}

@media only screen and (max-width:1200px){
    img{
     width: 60vw;
     height: 60vw;
     margin: 20px 0px 20px 0px;
    }
}