/* Title */
.title{
    text-align: center;
    color:yellow;
    font-family: 'Courgette', cursive;  
    font-size: 60px;
    font-weight: bolder;
}

a:hover{
    text-decoration: none;   
}
/* Title */

@media only screen and (max-width:400px){
    .title{
        font-size: 15vw;
    }
}

#sub-title{
    margin-bottom: 40px;
    color : white;
}

/* .nav-item,.bg-light{
    margin-bottom: 20px;
    background-color: white !important;
    border-color: white;
} */

#menu_bar{
    margin-top: 20px;
    background-color: 222121;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.item-detail{
    width: 110px;
    height: 0px;
    background-color: grey;
    color: white !important; 
    font-size: 20px;
    margin: 30px 0px 30px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.order_data{
   text-align: center;
   
   margin: 20px 0px 0px 0px ;
   padding: 0px 10px 10px 10px;
   color:  rgba(255, 255, 255, 0.8) ;
}

.data_bar{
    list-style-type: none;
    background-color: 1C1B1B;
    border-bottom: solid 2px rgba(255, 255, 255, 0.3) ;
}

select{
    height: 30px;
    margin-bottom: 5px;
}
