img {
    width: 400px;
    height: 400px;
}
legend {
    color: honeydew;
}

input{
    width: 100%;
    margin: 5px 0;
    /* remove underline from anchors */
}

.col {
    text-align: center;
}

legend {
    text-align: left;
}
