<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> --}}
  <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css>
  <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="./css/cart.css">

  <title>DreamSneakers</title>
</head>

<body>
  <div class="container" id="header">

    {{!-- <div class="row">
      <div id="buy_flow" class="col">
        <div class="col">
          <h3>1. 購物車</h3>
        </div>
        <div class="col">
          <h3>2. 填寫資料</h3>
        </div>
        <div class="col">
          <h3>3. 確認訂單</h3>
        </div>
      </div>
    </div> --}}
  </div>
  <div class="container">
    <div class="row" id="step_1">
      <div class="col">
        <div class="sub-title">1. 購物車</div>
      </div>
    </div>
    <div class="row">
      <div class="col">
          <table class="table table-striped order-bg">
            <thead>
              <tr>
                <th class="order_detail" scope="col">#</th>
                <th class="order_detail" scope="col">產品名稱</th>
                <th class="order_detail" scope="col">數量</th>
                <th class="order_detail" scope="col">金額</th>
              </tr>
            </thead>
            <tbody id="order-list">
            {{!-- <tr>
              <th scope="row">1</th>
              <td>Markasdfsadgfasgfdgsfd</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr> --}}
          </tbody>
          </table>
      </div>
    </div>
    <div id="step_2" class="row">
      <div class="col">
        <div class="sub-title">2. 填寫資料</div>
      </div>
    </div>
    <form action="/cart" method="POST" id="cart-from">
      <div class="form-group">
        <label class="sub-title detail-titile" for="inputAddress">地址</label>
        <input type="text" class="form-control" name="address" id="inputAddress" placeholder="1234 Main St">
      </div>
      <div class="form-row">
        <div class="form-group col-md-4">
          <label class="sub-title detail-titile" for="payment_method">付款方式</label>
          <select id="payment_method" name="paymentMethod" class="form-control">
            <option selected>Paypal</option>
            <option>Visa/Master</option>
            <option>支付寶香港</option>
            <option>Payme</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary" id="submit－cart-btn">提交</button>
    </form>
    <div id="step_2" class="row">
      <div class="col">
        <div class="sub-title">3. 確認訂單</div>
      </div>
    </div>
    <div>
      <a href="/order_list"><button type="submit" class="btn btn-primary">查看訂單</button></a>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
  <script src="./js/cart.js"></script>
</body>

</html>