<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamSneakers</title>
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous"> --}}
    <link href="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.14.0/css/all.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/list.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 id="sub-title">訂單列表</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="text" name="searchBar" id="searchBar" onkeyup="myFunction()">
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <div id="menu_bar" class="row">
                        <div class="col">
                            <div class="item-detail">訂單號碼</div>
                        </div>
                        <div class="col ">
                            <div class="item-detail">產品名稱</div>
                        </div>
                        <div class="col">
                            <div class="item-detail">數量</div>
                        </div>
                        <div class="col">
                            <div class="item-detail">送貨地址</div>
                        </div>
                        <div class="col">
                            <div class="item-detail">聯絡電話</div>
                        </div>
                        <div class="col">
                            <div class="item-detail">總金額</div>
                        </div>
                        <div class="col">
                            <div class="item-detail">付款方式</div>
                        </div>
                        <div class="col">
                            <div class="item-detail">訂單狀態</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="orderlist"></div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="./js/list.js"></script>
</body>

</html>