<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"> --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    {{!-- <link rel="stylesheet" href="./css/product_category.css"> --}}
    
    <title>Document</title>
</head>
<div class="container">
<div class="row row-cols-1 row-cols-md-3" id="sneakers-container">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="./image/custom-nike-alpha-huarache-elite-2-low-premium-by-you.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title" name="">Nike Alpha Huarache Elite 2</h5>
              <p class="card-text">Hello Hello</p>
              <p class="card-text">$3,000</p>
              <button type="submit" class="btn btn-primary" id="addToCart">加入購物車</button>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="./image/custom-nike-mercurial-superfly-7-academy-by-you.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike Mercurial Superfly 7 Academy</h5>
              <p class="card-text">Hello Hello</p>
              <p class="card-text">$4,000</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="./image/custom-nike-react-element-55-by-you.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike React Element 55</h5>
              <p class="card-text">Hello Hello</p>
              <p class="card-text">$5,000</p>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="./image/nike-custom-vapormax-2020-fk-by-you.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Nike Air VaporMax 2020 Flyknit</h5>
              <p class="card-text">Hello Hello</p>
              <p class="card-text">$6,000</p>
            </div>
          </div>
        </div>
      </div>
</div>

<body>
    







    {{!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script> --}}
    <script src="./js/product_category.js"></script>
</body>
</html>