<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="./css/question.css">
</head>

<body>
    <div class="container">
        <div class="row" id="recommend">
            <div class="col">
                <form method="POST" id="question-from">
                    <legend class="question">請選擇你喜歡的圖片，我們將根據你的選擇推薦相應的波鞋。</legend>
                    <legend>Q1</legend>
                    <div class="row">
                        <div class="col">
                            <label><input type="radio" class="types" name="q1" value="1">
                                <div><img src="./image/question/001a.jpg" alt=""></div>
                            </label>
                        </div>
                        <div class="col">
                            <label><input type="radio" class="types" name="q1" value="2">
                                <div><img src="./image/question/001b.jpg" alt=""></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><input type="radio" class="types" name="q1" value="3">
                                <div><img src="./image/question/001c.jpg" alt=""></div>
                            </label>
                        </div>
                        <div class="col">
                            <label><input type="radio" class="types" name="q1" value="4">
                                <div><img src="./image/question/001d.jpg" alt=""></div>
                            </label>
                        </div>
                    </div>
                    <legend>Q2</legend>
                    <div class="row">
                        <div class="col">
                            <label><input type="radio" class="environments" name="q2" value="1" required>
                                <div><img src="./image/question/002a.jpg" alt=""></div>
                            </label>
                        </div>
                        <div class="col">
                            <label><input type="radio" class="environments" name="q2" value="2">
                                <div><img src="./image/question/002b.jpg" alt=""></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><input type="radio" class="environments" name="q2" value="3">
                                <div><img src="./image/question/002c.jpg" alt=""></div>
                            </label>
                        </div>
                        <div class="col">
                            <label><input type="radio" class="environments" name="q2" value="4">
                                <div><img src="./image/question/002d.jpg" alt=""></div>
                            </label>
                        </div>
                    </div>
                    <legend>Q3</legend>
                    <div class="row">
                        <div class="col">
                            <label><input type="radio" class="seasons" name="q3" value="1" required>
                                <div><img src="./image/question/003a.jpg" alt=""></div>
                            </label>
                        </div>
                        <div class="col">
                            <label><input type="radio" class="seasons" name="q3" value="2">
                                <div><img src="./image/question/003b.jpg" alt=""></div>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <label><input type="radio" class="seasons" name="q3" value="3">
                                <div><img src="./image/question/003c.jpg" alt=""></div>
                            </label>
                        </div>
                        <div class="col">
                            <label><input type="radio" class="seasons" name="q3" value="4">
                                <div><img src="./image/question/003d.jpg" alt=""></div>
                            </label>
                        </div>
                    </div>

                    <button class="btn btn-outline-success my-2 my-sm-0" id="submit" type="submit">提交</button>
                </form>
            </div>
        </div>
    </div>

    <script src="js/question.js"></script>
</body>

</html>