<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DreamSneakers</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./css/index.css">
</head>

<div class="container">
    <header>
        <div class="row">
            <div class="col">
                <a href="/">
                    <h1 class="title">Dream</h1>
                    <h1 class="title">Sneakers</h1>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false"
                        aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                            <li class="nav-item">
                                <a class="nav-link" href="/customList">自訂波鞋</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/question">個人化波鞋推薦</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/product_category">產品列表</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/cart">購物車</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/order_list">訂單查詢</a>
                            </li>
                        </ul>
                        <div class="form-inline my-2 my-lg-0">
                            <div class="btn btn-outline-success my-2 my-sm-0 d-none home-btn" type="submit"
                                data-toggle="modal" data-target="#login-modal" id='login-btn'>Login</div>
                        </div>
                        <div class="form-inline my-2 my-lg-0">
                            <div class="btn btn-outline-success my-2 my-sm-0 d-none home-btn" type="submit"
                                data-toggle="modal" data-target="#sign-up-modal" id="sign-up-btn">Sign-up</div>
                        </div>
                        <div class="form-inline my-2 my-lg-0">
                            <div class="btn btn-outline-success my-2 my-sm-0 d-none home-btn" type="submit"
                                id="username-btn">
                            </div>
                        </div>
                        <div class="form-inline my-2 my-lg-0">
                            <div class="btn btn-outline-success my-2 my-sm-0 d-none home-btn" type="submit"
                                id="logout-btn">
                                Logout
                            </div>
                        </div>
                    </div>
                </nav>

                <div id="login-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="row login-container">
                                <form action="/users/login" method="POST" id="login-from">
                                    <div class="col">
                                        <input type="text" name="username" placeholder="Username" required>
                                        <input type="password" name="password" placeholder="Password" required>
                                        <div class="d-none warning" id="login-fail">Username or password is wrong.
                                        </div>
                                        <input type="submit" value="Login">
                                        <a href="/connect/google" class="google btn my-btn"><i
                                                class="fa fa-google fa-fw">
                                            </i> Login with Google+
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>


                <div id="sign-up-modal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="row login-container">
                                <form action="/users" method="POST" id="sign-up-from">
                                    <div class="col">
                                        <div id="inner-sign-up-from">
                                            <input type="text" name="username" placeholder="Username" required>
                                            <div class='d-none warning' id="username-duplicate">Username duplicate
                                            </div>
                                            <input type="password" name="password" placeholder="Password" id="password"
                                                required>
                                            <input type="password" name="password-confirmation"
                                                placeholder="Password confirmation" id="password-confirmation" required>
                                            <div class="d-none warning" id="pw-confirm-warn">password confirmation is
                                                not same as password</div>
                                            <input type="text" name="name" placeholder="Name" required>
                                            <input type="number" name="telephone" placeholder="Telephone" id="telephone"
                                                required>
                                            <div class='d-none warning' id="check-phone">The phone number is invalid.
                                            </div>
                                            <input type="submit" value="Sign up" id="submit-btn">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>

{{{body}}}
<div>@2020 cdv3 master</div>

<div id="script">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
    <script src="js/index.js"></script>
</div>